<html>
<head>
    <title>COURSE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-md-8 col-md-offset-2">
    <div class="container-fluid">
        <div class="page-header"><h1 class="text-center">List Course</h1></div>
        <div class="row">
            <div class="col-md-10">
                <input type="text" class="form-control" id="inputKeyword" placeholder="Keyword">
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btn-block">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
        <hr>
        <button class="btn btn-default" onClick="window.location.href='/course/add' ">Add</button>
        <hr>
        <ul class="list-group" id="listCourses">

        </ul>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form>
                            <div class="input-group">
                                   <span class="input-group-addon">
                                       <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                   </span>
                                <input class="form-control" aria-describedby="basic-addon1" name="user" placeholder="Enter your user">
                            </div>
                            <br>
                            <div class="input-group">
                                   <span class="input-group-addon" id="basic-addon1">
                                       <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                   </span>
                                <input type="password" class="form-control" aria-describedby="basic-addon1" name="password" placeholder="Enter your password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--<form id="Company">-->
        <!--<ul class="list-group">-->
        <!--{% for company in companies %}-->
        <!--<li class="list-group-item">-->
        <!--<a href="/company/{{company.getId()}}">{{company.getName()}}</a>-->
        <!--</li>-->
        <!--{% endfor %}-->
        <!--</ul>-->
        <!--</form>-->
    </div>
</div>

</body>

<script id="Template" type="text/html">
    <a id="create" data-toggle="modal" data-target="#myModal" class="list-group-item" href="/course/:id:/internship">:courseName:</a>
</script>

<script>
    $(document).ready(function () {
        $('#inputKeyword').keyup(function () {
            $.get('/courses/search-basic', {
                keyword: $('#inputKeyword').val(),
            }).then(render)
        });

        function render(courses) {
            var template = $('#Template').html();
            var resultsHtml = courses.map(function (course) {
                return template.replace(':courseName:', course.name)
                    .replace(':id:', course.id)
            }).join('');
            $('#listCourses').html(resultsHtml);
        }
        $.get('/courses').then(render);
    });

</script>
</html>
